body {
    background-image: url(../img/grocery.jpg);
    background-size: cover;
    min-width: 250px;
    font-family: "Times New Roman", sans-serif;
}

div h1 {
    margin: 1px;
    grid-area: h;
    color: #0a0063;
}

div input {
    grid-area: s;
}

div span {
    grid-area: b;
}

* {
    /*box-sizing: border-box;*/
}

/*ul {*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*}*/


ul li {
    margin-left: 100px;
    width: 500px;
    cursor: pointer;
    position: relative;
    padding: 10px 10px 10px 30px;
    list-style-type: none;
    background: rgba(3, 191, 238, 0.51);
    font-size: 20px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    text-align: center;
}

ul li:first-child {
    border-top-style: solid;
}

ul li:nth-child(odd) {
    background: rgba(7, 129, 249, 0.5);
}

ul li:hover {
    width: 600px;
    font-size: 25px;
    background: rgba(255, 251, 41, 0.51);
    color: #0a0063;
    border-style: ridge;
    margin-left: 0px;
}

ul li.checked {
    background: rgba(5, 5, 5, 0.25);
    color: rgba(255, 0, 35, 0.28);
    text-decoration: line-through;
}

ul li.checked:hover {
    width: 600px;
    font-size: 25px;
    background: rgba(30, 45, 255, 0.51);
    color: #631112;
    border-style: ridge;
}


.header {
    background-color: rgba(244, 67, 54, 0);
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 8px;
    width: 25%;
    background: #ebe104;
    color: #555;
    float: left;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #f06609;
}

#myUL {
    float: left;
}

#myUL2 {
    float: right;
    margin-right: 100px;
}



